<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!--Insert Xacro File-->
    <param name="robot_description" command="xacro '$(find aynasiz_description)/urdf/aynasiz_robot.xacro' " />
    
    <!--Joint and Robot base publisher-->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model aynasiz_robot" /> -->
    <node pkg="tf" type="static_transform_publisher" name="laser_tf_broadcaster" args="0.05 0 0.15 0 0 0 /base_link /laser 100" />



    
</launch>
